body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* first section start */
.top_img {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    
}
.half_width{
    width: 40%;
    float: left;
}
.content {
    margin: 0 90px 230px;
}
.half_width h1{
    font-size: 50px;
    font-weight: 700;
}
.half_width h2{
    font-size: 40px;
    font-weight: 700;
}.half_width span{
    color: #ffa500;
}
.half_width h3{
    font-size: 20px;
    font-weight: 700;
}
.half_width p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.829);
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

}

.half_width img{
    width: 100%;
}
/* first section end */

/* second section start */
.side_img{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 800px;
}
/* second section end */

/* third section start */
.Experiences h2{
    font-size: 40px;
    font-weight: 700;
    color: black;
}
.Experiences{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 600px;
}
.exp_main h3 {
    color: orange;
}
.exp_inner {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px grey;
}

#exp_inner_fst{
    border-left: 10px solid red;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#exp_inner_sec{
    border-left: 10px solid red;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.Experiences div{
    
    height: 80%;
}

footer p{
    text-align: center;
}

/* third section end */